:root {
  --blue-color: #81d7f1;
  --yellow-color: #f1ef81;
}
.header {
  width: 100%;
  height: 50px;
  background-color: var(--yellow-color);
  box-shadow: 4px;
  text-align: center;
  padding: 7px 0px 5px 0px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-me-container img {
  display: none;
}

.footer {
  width: 100%;
  height: 50px;
  box-shadow: 4px;
  text-align: center;
  padding: 7px 0px 5px 0px;
  position: relative;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-icons {
  position: sticky;
  width: 100%;
  align-items: center;
  text-align: center;
}

.social-icons i {
  padding: 5px;
}

.footer i {
  padding: 5px;
}

.header-links {
  font-size: 30px;
  padding: 5px;
}

.header-links:not(:last-child) {
  margin-right: 0;
}

.header-links:hover {
  transform: scale(120%);
}

a {
  color: black;
  text-decoration: none;
  z-index: 1;
}

.hero-banner-container {
  width: 80%;
  height: 100%;
  min-height: 600px;
  margin: auto;
  display: block;
  justify-content: center;
}

.hero-banner-container h1 {
  text-align: center;
  font-size: 100px;
  margin: 0px;
  white-space: nowrap;
  margin-top: 140px;
}

.hero-banner-container h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  margin: 0px;
  word-spacing: 0.3rem;
}

.background-cat {
  bottom: 0;
  position: fixed;
  left: 60%;
  transform: scale(75%);
  animation: 12s linear moving;
}

.fish {
  bottom: 0;
  position: fixed;
  opacity: 0;
  left: 60%;
  margin-bottom: 15px;
  animation: 24s infinite fish;
}

.cat-container {
  right: 0%;
  left: 0;
  bottom: 0;
  margin-top: 90px;
  width: 100%;
  position: fixed;
}

.fixed-cat {
  bottom: 0;
  position: fixed;
  left: 60%;
  transform: scale(75%);
}

.walk-away-cat {
  bottom: 0;
  position: fixed;
  left: 100%;
  transform: scale(75%);
  animation: 6s linear walk-away;
}

@keyframes walk-away {
  0% {left: 60%; transform: scale(0.75, 0.75);}
  20% {left: 60%; transform: scale(-0.75, 0.75);}
  100% {left: 100%; transform: scale(-0.75, 0.75);}
}

.meow {
  position: fixed;
  font-size: 30px;
  bottom: 17%;
  right: 37%;
  opacity: 0;
  animation: 18s infinite meow;
}

.on-hover {
  position: absolute;
  top: 100%;
  right: 0;
}

.skill-container {
  float: left;
  margin: 30px;
  width: 40%;
  padding: 10px;
}

.skill {
  width: 40%;
  margin: 5px;
  display: block;
  float: left;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 3px black;
  background-color: var(--blue-color);
}

.header-dropdown {
  text-align: center;
  width: 100%;
  margin: auto;
  position: absolute;
  opacity: 0;
}

.dropdown {
  font-size: 30px;
  text-align: center;
  height: 100%;
  display: none;
}

.dropdown-button {
  font-size: 30px;
  text-align: center;
  height: 100%;
  background-color: white;
  width: 33%;
  opacity: 0;
  padding: 5px;
}

.dropdown-show {
  font-size: 30px;
  display: inline-block;
  background-color: white;
  width: 33%;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  height: 100%;
  opacity: 1;
}

@keyframes opacity-change {
  from {opacity: 1}
  to {opacity: 1}
}

.skill-container h2 {
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
}

.skill-title:not(first-child) {
  padding: 30px 0px 20px 0px;
  margin-top: 10px;
}

.skill-name {
  padding: 0;
  text-shadow: 1px 1px 1px black;
  font-size: 30px;
}

.skill-description {
  color: black;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-size: 30px;
  padding: 0;
  position: relative;
  display: none;
}

.skill:hover .skill-description {
  display:block;
}

.skill:hover .skill-name {
  display: none;
}

.name {
  animation: 8s linear typing;
  overflow: hidden;
  word-spacing: 0.2rem;
  position:relative;
  text-align: center;
}

@keyframes typing {
  0% {color: white;}
  25% {color: rgb(73, 73, 73); text-shadow: 1px black;}
  50% {color: rgb(15, 15, 15);}
  75% {color: rgb(0, 0, 0);}
  99% {display: none;}
}

.row {
  float: left;
  width: 55%;
}
.image {
  position: absolute;
  top: 80px;
  left: 35%;
  margin: auto;
  width: 30%;
  border-radius: 100%;
  box-shadow: 1px 3px 4px 3px rgb(204, 204, 204);
}

.image:hover {
  animation: 5s linear shadows;
}

@keyframes shadows {
  0% {box-shadow: 3px 1px 1px 1px rgb(94, 176, 253);}
  20% {box-shadow: 1px 3px 1px 1px var(--blue-color);}
  35% {box-shadow: 1px 1px 3px 1px rgb(171, 253, 94);}
  50% {box-shadow: 1px 1px 1px 3px rgb(253, 250, 94);}
  90% {box-shadow: 1px 1px 1px 8px var(--yellow-color);}
  100% {box-shadow: 1px 1px 1px 1px var(--yellow-color);}
}

.about-me-container {
  text-align: center;
  width: 95%;
  margin: 0;
  justify-content: center;
  padding: 50px 0px 50px 0px;
  min-height: 600px;
}

.about-me-container li {
  text-align: left;
  font-size: 35px;
}

.about-me-container ul {
  display: inline-block;
  margin-bottom: 75px;
}

.about-me-container .row {
  width: 50%;
  float: left;
  height: 100%;
}

.about-me-container .row h1 {
  font-size: 120px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.about-me-container .row h2 {
  padding-left: 40px;
  font-size: 50px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}

.projects-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.project-container {
  margin: 2% 2% 1% 4%;
  width: 40%;
  border: 3px solid var(--blue-color);
  background-color: rgb(225, 247, 255);
  font-size: 20px;
  border-radius: 3%;
  height: 600px;
  padding: 5px;
  float: left;
}

.project-container:hover {
  transform: scale(1.05);
}

.project-container-links {
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
  font-size: 23px;
  text-shadow: 1px 1px 2px white;
  font-weight: 800;
}

.project-container-links a {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 23px;
  display: inline-block;
  vertical-align: bottom;
}

.project-container-links:not(first-child) a{
  margin: 0 10% 0 10%;
}

.stack {
  height: 50px;
}

.project-container h2 {
  font-size: 40px;
  text-align: center;
}

.project-container img {
  width: 100%;
}

.image-container {
  height: 50%;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .about-me-container ul {
    margin: 15px 0 0 0;
  }
  .header-links {
      display: none;
  }
  .image-container {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
  }
  .about-me-container img {
    display: block;
    width: 250px;
    height: 270px;
  }
  .row {
    width: 100%;
  }
  .image {
    width: 90%;
    left: 5%;
  }
  .hero-banner-container h1{
    font-size: 80px;
  }
  .hero-banner-container h2{
    font-size: 50px;
  }
  .about-me-container .row {
    width: 100%;
    justify-content: center;
    margin: auto;
  }
  .background-cat {
    animation: none;
    left: 50%;
  }
  .fixed-cat {
    animation: none;
    left: 50%;
    opacity: 0;
  }
  .about-me-container .row li {
    text-align: left;
    font-size: 30px;
    padding: 5px;
  }
  .about-me-container .row h1 {
    font-size: 60px;
  }
  .about-me-container .row h2 {
    display: none;
  }
  .skill-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .skill {
    width: 40%;
  }
  .header-dropdown {
    opacity: 1;
  }
  .dropdown-button {
    opacity: 1;
  }
  .project-container {
    padding: 0;
    margin-right: 0;
    margin-left: 5%;
    margin-bottom: 2.5%;
    width: 90%;
  }
  .projects-container {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .header {
    display: inline-block;
    z-index: 1;
  }
}

@media screen and (max-width: 1300px) {
  .hero-banner-container h1{
    white-space: normal;
  }
  .about-me-container li {
    text-align: left;
    font-size: 26px;
  }
  .about-me-container .row h1 {
    font-size: 100px;
  }
  .skill-container h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 980px) {
  .about-me-container li {
    text-align: left;
    font-size: 24px;
  }
  .about-me-container .row h1 {
    font-size: 80px;
    padding: 0 10px; 
  }
  .skill-container h2 {
    text-align: center;
    font-size: 40px;
  }
  .skill {
    width: 100%;
  }
  .skill-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 800px) {
  .dropdown {
      opacity: 0;
  }
}

.image-container {
  min-width: 300px;
}

.cat {
  position: absolute;
  width: 300px;
  animation: 10s infinite image-switch-one;
}

.selfie {
  position: absolute;
  width: 300px;
  height: 300px;
  animation: 10s infinite image-switch-two;
}

.pizza {
  position: absolute;
  width: 300px;
  height: 300px;
  animation: 10s infinite image-switch-three;
}

@keyframes moving {
  0% {transform: scale(0.75);}
  45.5% {left: 10%; transform: scale(0.75, 0.75);}
  50.5% {left: 10%; transform: scale(-0.75, 0.75);}
  75% {left: 30%; transform: scale(-0.75, 0.75);}
  95% {left: 55%; transform: scale(-0.75, 0.75);}
  100% {right: 60%; transform: scale(0.75, 0.75);}
}

@keyframes fish {
  50% {opacity: 0;}
  51% {opacity: 1;}
  52% {opacity: 1; transform: scale(1, 1);}
  100% {opacity: 1; transform: scale(-1, 1);}
  60% {transform: scale(1, 1);}
  70% {opacity: 1; transform: scale(-1, 1);}
  80% {transform: scale(1, 1);}
  90% {opacity: 1; transform: scale(-1, 1);}
}

@keyframes meow {
  65% {opacity: 0;}
  80% {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes image-switch-one {
  0% {visibility: hidden}
  25% {visibility: visible;}
  50% {visibility: hidden;}
  75% {visibility: hidden;}
  100% {visibility: hidden;}
}

@keyframes image-switch-two {
  0% {visibility: hidden}
  25% {visibility: hidden;}
  50% {visibility: visible;}
  75% {visibility: hidden;}
  100% {visibility: hidden;}
}

@keyframes image-switch-three {
  0% {visibility: hidden}
  25% {visibility: hidden;}
  50% {visibility: hidden;}
  75% {visibility: visible;}
  100% {visibility: hidden;}
}